/* Logo CDSP - navbar */
img[alt="CDSP"] {
  max-height: 60px !important;
  height: 60px !important;
}

/* Logo CDSP - seccion afiliacion */
img[alt="Grupo de Ciencia de Datos para Salud Pública"] {
  max-height: 60px !important;
  height: 60px !important;
}
